<footer class="footer">
    <div class="footer-left">
        <h2>GameDev Knights</h2>
        <p>gamedevknights@gmail.com</p>
        <p>500 W. Livingston Street, Orlando, FL 32801</p>
    </div>
    <div class="footer-right">
        <p><b>Socials</b></p>
        <ul>
            <li><a href="https://discord.gg/WgPk4Tp8Cg">Discord</a></li>
            <li><a href="https://www.linkedin.com/company/game-development-knights/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/gamedevknights/">Instagram</a></li>
            <li><a href="https://knightconnect.campuslabs.com/engage/organization/gamedevknights">KnightConnect</a></li>
        </ul>
    </div>
</footer>